body {
	background-color: rgb(0, 66, 66);
	background-image: url(../imagenes/fondo_historia.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.titulo-historia {
	font-size: 50px;
	text-align: center;
	color: rgba(153, 0, 38, 0.699);
}

nav {
	text-align: center;
	margin-top: 50px;
}

.boton1 {
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	border: sólido #8f8f8f 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#828282), to(#525252));
	background: -moz-linear-gradient(top, #828282, #525252);
}

.button:hover {
	background: #77a3a3;
}

.boton2 {
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	border: sólido #8f8f8f 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#828282), to(#525252));
	background: -moz-linear-gradient(top, #828282, #525252);
}

.button:hover {
	background: #77a3a3;
}

.boton3 {
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	border: sólido #8f8f8f 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#828282), to(#525252));
	background: -moz-linear-gradient(top, #828282, #525252);
}

.button:hover {
	background: #77a3a3;
}

.boton4 {
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	border: sólido #8f8f8f 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#828282), to(#525252));
	background: -moz-linear-gradient(top, #828282, #525252);
}

.button:hover {
	background: #77a3a3;
}

.boton5 {
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	border: sólido #8f8f8f 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#828282), to(#525252));
	background: -moz-linear-gradient(top, #828282, #525252);
}

.button:hover {
	background: #77a3a3;
}

section {
	text-align: justify;
	backdrop-filter: blur(5px);
	width: 50%;
	height: 100%;
	background-image: url(../imagenes/fondo_historia_parrafo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	border: 5px;
	border-color: #77a3a3;
	border-style: solid;
}

.whatsappIcono {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	background-color: #00af36;
	color: #fff;
	border-radius: 100px;
	text-align: center;
}

aside {
	width: 40%;
	height: auto;
	float: right;
}

.imagen_aside {
	width: 40%;
	height: auto;
	float: right;
}

footer {
	background-color: #525252;
}
.footer-img {
	width: 50px;
	height: 50px;
}

.footer-padre {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header-img {
	width: 50px;
	height: 50px;
}
.logo {
	width: 100px;
	height: auto;
}
.header-padre {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #525252;
}
.all {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	margin-top: 50px;
}