@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Autour+One&family=Changa:wght@300&family=Dela+Gothic+One&family=Grandstander:wght@300&family=Lora:ital,wght@1,600&family=Mountains+of+Christmas:wght@700&family=PT+Sans+Narrow&family=Pixelify+Sans:wght@700&display=swap');

/* GENERAL */

body {
	background-image: url(../imagenes/fondo_otras.jpg);
	background-size: cover;
	background-color: rgb(206, 255, 127);
	background-attachment: fixed;
	margin: 0%;
	display: flex;
	flex-direction: column;
}
a:hover {
	color: rgb(255, 255, 255);
	transition: color 0.7s;
}
a img:hover{
	transform: scale(1.1);
	box-shadow: 0.15vw 0.15vw 0.29vw rgba(0, 0, 0, 0.3);
}
.all {
	display: flex;
	text-align: center;
	margin-bottom: 11.41vh;
	margin-top: 7.61vh;
}
.whatsappIcono {
	position: fixed;
	width: 3.68vw;
	height: 7.61vh;
	bottom: 1.52vh;
	right: 0.73vw;
	background-color: #00af36;
	color: #fff;
	border-radius: 7.35vw;
	text-align: center;
}
.movil {
	display: none;
}
.tablet {
	display: none;
}
/* HEADER */

.header-img {
	width: 3.67vw;
	height: 7.61vh;
	border-radius: 75%
}
.header-redes {
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-end;
}
.logo {
	width: 7.35vw;
	height: auto;
}
.header-padre {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #0002927c;
}
header {
	flex-wrap: wrap;
	width: 100vw;
}
.header-titulo {
	font-family: 'Dela Gothic One', sans-serif;
	text-align: center;
}

/* NAV */

.nav-padre {
	display: flex;
	text-align: center;
	margin-top: 7.61vh;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.boton {
	font-family: 'Changa', sans-serif;
	color: #ffffff;
	font-size: 4vh;
	padding: 0.73vw;
	text-decoration: none;
	-webkit-border-radius: 2.05vw;
	-moz-border-radius: 2.05vw;
	border-radius: 2.05vw;
	border: sólido #8f8f8f 0.15vw;
}
.boton:hover {
    background: #34b5e893;
	transition: all 0.7s;
	transform: scale(1.5);
	box-shadow:  0.29vw 0.29vw 0.59vw rgba(0, 0, 0, 0.3);
}

/* SECTION */

.titulo {
	color: #8fcbfce4;
	text-align: center;
	font-size: 11.41vh;
	font-family: 'Grandstander', cursive;
}
.otros {
	width: 22.06vw;
	height: 45.66vh;
	border-color: rgb(88, 80, 80);
	border-style: double;
	border-style: 0.36vw;
}

/* FOOTER */

footer {
	background-color: #0002927c;
	flex-wrap: wrap;
}
.footer-padre {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-img {
	width: 3.67vw;
	height: 7.61vh;
	border-radius: 75%
}
.footer-contacto {
	font-family: 'Pixelify Sans', sans-serif;
}
.footer-redes {
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-end;
}

@media (max-width:  575px) {
	/* GENERAL */

	.movil {
		display: flex;
		font-size: xx-small;
		justify-content: flex-end;
	}
	body {
		flex-direction: column;
	}
	.all {
		display: flex;
		flex-direction: column;
	}

	/* NAV */
	.nav-padre {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.botones {
		margin-top: 2.5vh;
		width: 100vw;
	}
	.boton {
		padding-left: 25vw;
		padding-right: 25vw;
		text-align: center;
	}
	/* SECTION */
	.otros {
		width: 40vw;
	}
	
}

@media (max-width: 991px) {
	.otros {
		width: 29.41vw;
		height: 32vh;
	}
	.tablet {
		display: flex;
		justify-content: space-around;
	}
	.pc {
		display: none;
	}
	body {
		flex-direction: column;
	}
	.all {
		display: flex;
		justify-content: space-between;
	}
}