@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Changa:wght@200&family=Dela+Gothic+One&family=Grandstander&family=Lora:ital,wght@1,500&family=Mountains+of+Christmas&family=Noto+Sans+JP:wght@500&family=PT+Sans+Narrow&family=Pixelify+Sans:wght@700&display=swap');

/* GENERAL */

body {
	background-color: rgb(0, 66, 66);
	background-image: url(../imagenes/fondo_Historia.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	margin: 0%;
}
.movil {
	display: none;
}
.tablet {
	display: none;
}
.whatsappIcono {
	position: fixed;
	width: 3.68vw;
	height: 7.61vh;
	bottom: 1.52vh;
	right: 0.73vw;
	background-color: #00af36;
	color: #fff;
	border-radius: 7.35vw;
	text-align: center;
}
.all {
	display: flex;
	justify-content: space-around;
	margin-bottom: 7.61vh;
	margin-top: 7.61vh;
}
a:hover {
	color: rgb(255, 255, 255);
	transition: color 0.7s;
}
a img:hover{
	transform: scale(1.1);
	box-shadow: 0.15vw 0.15vw 0.29vw rgba(0, 0, 0, 0.3);
}

/* HEADER */

.header-img {
	width: 3.67vw;
	height: 7.61vh;
	border-radius: 75%
}
.header-redes {
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-end;
}
.logo {
	width: 7.35vw;
	height: auto;
}
.header-padre {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #0002927c;
}
header {
	flex-wrap: wrap;
	width: 100vw;
}
.header-titulo {
	font-family: 'Dela Gothic One', sans-serif;
	text-align: center;
}

/* NAV */

.nav-padre {
	display: flex;
	text-align: center;
	margin-top: 7.61vh;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.boton {
	font-family: 'Changa', sans-serif;
	color: #ffffff;
	font-size: 4vh;
	padding: 0.73vw;
	text-decoration: none;
	-webkit-border-radius: 2.05vw;
	-moz-border-radius: 2.05vw;
	border-radius: 2.05vw;
	border: sólido #8f8f8f 0.15vw;
}
.boton:hover {
    background: #34b5e893;
	transition: all 0.7s;
	transform: scale(1.5);
	box-shadow:  0.29vw 0.29vw 0.59vw rgba(0, 0, 0, 0.3);
}

/* SECTION */

.titulo-Historia {
	font-size: 7.61vh;
	text-align: center;
	color: rgba(92, 0, 23, 0.699);
	font-family: 'Lora', serif;
}
section {
	text-align: justify;
	backdrop-filter: blur(5px);
	width: 50vw;
	height: auto;
	background-image: url(../imagenes/fondo_historia_parrafo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0.73vw;
	border: 0.36vw;
	border-color: #77a3a3;
	border-style: solid;
	font-family: 'Noto Sans JP', sans-serif;
}

/* ASIDE */

aside {
	width: 40vw;
	height: auto;
	float: right;
}
.imagen_aside {
	width: 40%;
	height: auto;
	float: right;
}

/* FOOTER */

footer {
	background-color: #0002927c;
	flex-wrap: wrap;
}
.footer-padre {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-img {
	width: 3.67vw;
	height: 7.61vh;
	border-radius: 75%
}
.footer-contacto {
	font-family: 'Pixelify Sans', sans-serif;
}
.footer-redes {
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-end;
}


@media (max-width:  575px) {
	/* GENERAL */

	body {
		flex-direction: column;
	}
	.all {
		display: flex;
		flex-direction: column;
	}
	.movil {
		display: flex;
		font-size: xx-small;
		justify-content: flex-end;
	}

	/* NAV */

	.nav-padre {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.botones {
		margin-top: 2.5vh;
		width: 100vw;
	}
	.boton {
		padding-left: 25vw;
		padding-right: 25vw;
		text-align: center;
	}

	/* SECTION */

	aside {
		display: none;
	}

	/* ASIDE */

	section {
		width: 100vw;
	}

	
}

@media (max-width: 991px) {
	.tablet {
		display: flex;
		justify-content: space-around;
	}
	.pc {
		display: none;
	}
	body {
		flex-direction: column;
	}
	.all {
		display: flex;
		justify-content: space-between;
	}
}